body {
	margin: 0;
}

#editor-wrapper {
    width: 1200px;
    /*width: 90%;*/
	margin: 0 auto;
	margin-top: 100px;
}

#editor-wrapper:after {
	content: "";
	display: block;
	clear: both;
}

#structure-block {
	min-width: 300px;
	/*max-width: 25%;*/
	float: left;
}

#editor-block {
	position: relative;
	padding-top: 34px;
	float: right;
}

#editor-block .save-link, #editor-block .close-link, #editor-block .filename {
	display: block;
	position: absolute;
	width: auto;
	height: 1em;
	padding: 5px 10px;
	color: #dfdfdf;
	text-decoration: none;
	background: #333232;
	border-radius: 55% 55% 0 0;
    font: 24px/24px monospace;
}

#editor-block .save-link {
	top: 0;
    left: 30px;
}

#editor-block .close-link {
	top: 0;
    right: 30px;
}

#editor-block .filename {
	top: 0;
    right: 50%;
    transform: translate(50%, 0);
}

#editor-block #file-editor-wrapper {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
}

#editor-block #file-editor {
	display: block;
	border: 1px solid gray;
	overflow: hidden; 
	padding: 5px;
	padding-left: 45px;
	padding-bottom: 25px;
	background: #333232;
    color: white;
    resize: none;
    font: 23px/23px monospace;
    box-sizing: border-box;
}

#editor-block #line-numbers {
	position: absolute;
	top: 7px;
	left: 0;
    width: 40px;
    height: 100%;
    color: #cfcfcf;
	padding-left: 4px;
}

#editor-block #line-numbers * {
	width: 100%;
    font: 23px/23px monospace;
}

#file-editor::selection {
    background: rgba(250, 250, 250, .5);
}

#cur-pos-block {
	position: absolute;
	bottom: 1px;
    left: 20px;
    background: #333232;
    color: white;
    font: 19px/22px monospace;
}